@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');

html {
  font-size: 1rem;
  font-family: 'Roboto', sans-serif !important;
}

body{
  background-color: #DAF3F4
}

h1 {
  font-size: 4.5vw;
}
h2 {
  font-size: 4.0vh;
}
h3 {
  font-size: 3.3vh;
}
h4 {
  font-size: 3.0vh;
}
h5 {
  font-size: 1.9vh;
}
p {
  font-size: 1.5vh;
}
.text-main{
  color: #47C4C6 !important;
}
.bg-main{
  background-color: #47C4C6 !important;
  border: none !important;
  width: 30%
}
.navbar{
  background-color: #47C4C6 !important;
  -webkit-box-shadow: 7px 0px 19px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 7px 0px 19px 0px rgba(0,0,0,0.75);
  box-shadow: 7px 0px 19px 0px rgba(0,0,0,0.75);
}

.nav-item{
  margin: 2% !important
}

.nav-link{
  color: white !important;
  font-weight: bold !important;
  font-size: 1.7vh !important
}
.navbar-brand{
  font-family: 'Luckiest Guy', cursive !important;
  font-size: 4vh;
}
form.navbar-nav select{
  background: transparent;
  width: 268px;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 34px;
  -webkit-appearance: none;
}
.dropdown-toggle::after {
  display:none
}

/* end nav styling */

.intro{
  height: 35vh;
  background-color: #59C9CB;
  padding-top: 8vh;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.tour-box-container{
  margin-bottom: 10px !important
}

.tour-box{
  color: black;
  position: relative;
}
.tour-box > span {
  position: absolute;
  display: block;
  top: 20px;
  z-index: 1;
  width: 100px;
  color: white;
  padding: 4px;
  border-top-right-radius: 15px
}
.tour-box:hover {
  text-decoration: none
}
.price span{
  font-size: 2.3vh
}


.newsteler{
  height: 30vh;
  background-color: #47C4C6;
  margin-top: 5vh
}
.page-item.active .page-link{
  background-color: #47C4C6 !important;
  border: none !important;
}
/* all tours */
a.tour{
  text-decoration: none;
  color: black;
}

footer{
  background-color: #FFFFFF
}
footer i{
  border: 1px solid #47C4C6;
  padding: 10px;
  border-radius: 50%;
  color: #47C4C6
}

/* tags */
.bg-POPULAR{
  background-color: #963678
}
.bg-SELLS{
  background-color: #3f37b4
}
.bg-NEW{
  background-color: #163678
}
.bg-POPULAR{
  background-color: #963678
}
.bg-BEST{
  background-color: #eb3434
}

/* stripe form */
/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
 .StripeElement {
  background-color: white;
  height: 40px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
  width: 100%;
  display: block
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

/* About page */
.about-heading{
  background-image: url('https://www.hdwallpapers.net/previews/new-york-city-skyline-at-sunset-688.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 45vh;
  z-index: -2;
}
.about-heading > .overlay{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: .6;
  z-index: -1;
}