.intro-single{
  overflow: hidden;
  position: relative;
}
.intro-single:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  background-image: url('http://www.marokko-info.nl/wp-content/uploads/2017/07/marrakech-2.jpg');
  background-size: cover;
  width: 100%;
  height: 100%;

  -webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: blur(15px);
}

/*  book now */
.book_now>.book_heading{
  background-color: #47C4C6;
  padding: 10px;
}
.datepicker-container{
  display: block;
  border: 1px solid black;
  width: 100%;
}

/* review */
.star {
    width: 32px;
    height: 32px;
    transition: .6s all;
  }
  #rating {
    cursor: pointer;
    display: inline-block
  }
  #review-form .input-group-addon {
    min-width: 100px;
  }
  #review-form .btn {
    min-width: 100px;
  }
  #review-form input[type="text"],
  #review-form textarea {
    width: 100%;
  }
  #review-form .form-group {
    margin-bottom: 15px;
  }
  #review-form .help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  blockquote {
    border-left: 5px solid rgb(238, 238, 238);
    padding-left: 20px;
  }

  blockquote .footer{
    display: block;
    font-size: 80%;
  }

  .stars-container {
    margin-bottom: 5px;
  }

select {
  font-family: 'FontAwesome', 'sans-serif';
}


