{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block styles %}
<link rel="stylesheet" href="{% static 'site/css/animate.css' %}">
{% endblock styles %}

{% block content %}
<div class="container">

    {% if msg %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {% if msg == '-1' %}
          {% trans "You've posted alot of reviews, please try later" %}
        {% elif msg == '-2' %}
          {% trans "Voucher code is not valid" %}
        {% elif msg == '-3' %}
          {% trans "Invalid review type" %}
        {% else %}
          {% trans 'Review was added successfuly' %}
        {% endif %}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endif %}

    <div class="card col-md-8 offset-md-2 mt-3">
      <h4 class="mt-2">
       {{ tour }}'s reviews
        <a href="{% url 'tours:single_tour' detail.slug %}" class="pull-right btn">Back</a>
      </h4>
      <div class="card-body reviews">

        {% for review in reviews %}
        
        <div class="review">
          <hr>
          <p>
            <b>{{ review.voucher.bill }}</b>
            <b class="pull-right">
              {% for i  in "x"|rjust:review.rate %}
                <i class="fa fa-star"></i>
              {% endfor %}
            </b>
          </p>
          <p class="text-muted">{{ review.timespan }}</p>
          <p>{{ review.text }}</p>
        </div>

        {% endfor %}


      </div>
</div>
</div>

{% endblock content %}