{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'assets/css/login.css' %}">
  </head>
  <body>
    <div class="login">
    	<h1>Login</h1>
        <form method="post"> {% csrf_token %}
        	  {{form}}
            <button type="submit" class="btn btn-primary btn-block btn-large">Register</button>
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
        <p><a href="{% url 'accounts:login' %}" style="color:white">Login?</a></p>
    </div>
  </body>
</html>
