{% extends "myadmin/base.html" %}

{% load mathfilters %}
{% load static %}

{% block content %}

<div class="row" id="app">
  <div class="col-md-10 offset-md-1">
    <div class="card m-b-30">
      <div class="card-body">
        <div class="row">
            <div class="col-12">
                <div class="card m-b-30">
                    <div class="card-body">

                        <table id="datatable-buttons" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>Full name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Country</th>
                                <th>Amount</th>
                                <th>product</th>
                                <th>nb_seniors</th>
                                <th>nb_adults</th>
                                <th>nb_children</th>
                                <th>nb_infant</th>
                                <th>Date reservation</th>
                                <th>Date book</th>
                            </tr>
                            </thead>


                            <tbody>

                              {% for order in orders %}
                                <tr>
                                  <td>{{order.first_name}}, {{ order.last_name}}</td>
                                  <td>{{order.email}}</td>
                                  <td>{{order.telephone}}</td>
                                  <td>{{order.country}}</td>
                                  <td>{{order.amount|div:100}}</td>
                                  <td>{{order.product}}</td>
                                  <td>{% if order.nb_seniors %}{{order.nb_seniors}} {% else %}0{% endif %}</td>
                                  <td>{{order.nb_adults}}</td>
                                  <td>{{order.nb_children}}</td>
                                  <td>{% if order.nb_infant %}{{order.nb_infant}}{% else %}0{% endif %}</td>
                                  <td>{{order.date_order}}</td>
                                  <td>{{order.date_book}}</td>
                                </tr>
                              {% endfor %}

                            </tbody>
                        </table>

                    </div>
                </div>
            </div> <!-- end col -->
        </div> <!-- end row -->
      </div>
    </div>
  </div>
</div>

{% block scripts %}
<!-- jQuery  -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/modernizr.min.js' %}"></script>
<script src="{% static 'js/waves.js' %}"></script>
<script src="{% static 'js/jquery.slimscroll.js' %}"></script>
<script src="{% static 'js/jquery.nicescroll.js' %}"></script>
<script src="{% static 'js/jquery.scrollTo.min.js' %}"></script>

<!-- Required datatable js -->
<script src="{% static 'plugins/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/dataTables.bootstrap4.min.js' %}"></script>
<!-- Buttons examples -->
<script src="{% static 'plugins/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'plugins/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/jszip.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake.min.js' %}"></script>
<script src="{% static 'plugins/vfs_fonts.js' %}"></script>
<script src="{% static 'plugins/buttons.html5.min.js' %}"></script>
<script src="{% static 'plugins/buttons.print.min.js' %}"></script>
<script src="{% static 'plugins/buttons.colVis.min.js' %}"></script>
<!-- Responsive examples -->
<script src="{% static 'plugins/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/responsive.bootstrap4.min.js' %}"></script>

<!-- Datatable init js -->
<script src="{% static 'pages/datatables.init.js' %}"></script>

<!-- App js -->
<script src="{% static 'js/app.js' %}"></script>
{% endblock scripts %}

{% endblock content %}
