{% extends "base.html" %}

{% load static %}
{% load i18n %}
{% load my_filters %}

{% block styles %}
<script src="https://js.stripe.com/v3/"></script>
{% endblock styles %}

{% block content %}

    <div class="container">
        <div class="row mt-3">
            
            <div class="card col-md-8">
                <div class="card-body">
                    <h5>{% trans 'Your information' %} <small  class="pull-right mt-1"><a href="{% url 'tours:single_tour' tour_detail.slug %}">Change booking info</a></small></h5>
    
                    <form action="{% url 'checkout:save-bill' total tour.title adults children seniors infant tour.id date %}" 
                            class="row mt-3" method="POST" id="payment-form"> {% csrf_token %}

                        <div class="form-group col-3">
                            <label for="first_name">First name</label>
                            {{form.first_name}}
                        </div>
                        <div class="form-group col-3">
                            <label for="last_name">Last name</label>
                            {{form.last_name}}
                        </div>
                        <div class="form-group col-3">
                            <label for="phone">Phone</label>
                            {{form.telephone}}
                        </div>
                        <div class="form-group col-6">
                            <label for="email">Email</label>
                            {{form.email}}
                        </div>
                        <div class="form-group col-3">
                            <label for="country">Country</label>
                            {{form.country}}
                        </div>

                       <div class="form-group col-12">
                            <div class="form-row">
                                <label for="card-element">
                                Credit or debit card
                                </label>
                                <div id="card-element">
                                <!-- A Stripe Element will be inserted here. -->
                                </div>
                            
                                <!-- Used to display form errors. -->
                                <div id="card-errors" role="alert"></div>
                            </div>
                       </div>
                          
                        <div class=" form-group col-12 text-center">
                            <button type="submit" class="btn bg-main text-white">Continue</button>
                        </div>
                    </form>
                    <hr>
                   
                    <div class="col-12 text-center">
                        <p>Or pay with paypal</p>
                    
                        
                    </div>

                </div>
            </div>

            <div class="card col-md-4">
                <div class="card-body">
                    <h5>{% trans 'Booking information' %}  </h5>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Product: </th>
                                <th class="text-muted">{{tour_detail.title}}</th>
                            </tr>
                            {% if seniors != 0 %}
                                <tr>
                                    <th>Seniors: </th>
                                    <th class="text-muted">{{ seniors }}</th>
                                </tr>
                            {% endif %}
                            {% if adults != 0 %}
                                <tr>
                                    <th>Adults: </th>
                                    <th class="text-muted">{{ adults }}</th>
                                </tr>
                            {% endif %}
                            {% if children != 0 %}
                                <tr>
                                    <th>Children: </th>
                                    <th class="text-muted">{{ children }}</th>
                                </tr>
                            {% endif %}
                            {% if infant != 0 %}
                                <tr>
                                    <th>Infant: </th>
                                    <th class="text-muted">{{ infant }}</th>
                                </tr>
                            {% endif %}
                            
                            <tr>
                                <th>Total: </th>
                                <th class="text-muted">{% if request.session.currency %} {{ total|multiply:request.session.currency }} {% else %} {{ total
                                    }} {% endif %}
                                    {% if request.session.currency_short %} {{ request.session.currency_short }} {% else %} $ {% endif %}</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>

        </div>
    </div>

{% endblock content %}

{% block scripts %}

<script>
    $(function(){
        $('#id_country').addClass('form-control')
    })
</script>

<script src="{% static 'site/js/stripe.js' %}"></script>

{% endblock scripts %}