{% extends "base.html" %}

{% block title %}
    Voucher
{% endblock title %}

{% load static %}

{% block content %}

<div class="container">
    <div class="row">
      <div class="card mt-3 col-8 offset-2">
        <div class="card-body">
          <h5><a class="navbar-brand text-main" href="#">MCT</a>VOUCHER</h5>
          <p class="text-muted">
              Do not leave this page til you print your voucher.
          </p>
          <div class="pull-right m-3">
            <button type="button" class="btn btn-primary" id="print">Print voucher</button>
          </div>
          <table class="table" id="voucher">
            <thead>
              <tr>
                <th class="text-muted">VOUCHER number</th>
                <td>{{voucher.No}}</td>
              </tr>
              <tr>
                <th class="text-muted">Full name</th>
                <td>{{ billing }}</td>
              </tr>
              <tr>
                <th class="text-muted">Description</th>
                <td>
                  {% if adults != 0  %}
                  x{{ adults }} adults, 
                  {% endif %}
                  {% if children != 0  %}
                  x{{ children }} children, 
                  {% endif %}
                  {% if seniors != 0  %}
                  x{{ seniors }} seniors, 
                  {% endif %}
                  {% if infant != 0  %}
                  x{{ infant }} infant.
                  {% endif %}
                </td>
              </tr>
              <tr>
                <th class="text-muted">Date</th>
                <td>{{ date }}</td>
              </tr>
              <tr>
                <th class="text-muted">Product</th>
                <td>{{ tour }}</td>
              </tr>
            </thead>
          </table>

          <div class="mt-3">
            <p class="h6 text-muted p-3">If you have any question please contact us or call at : <b>087463564846</b></p>
          </div>

        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block scripts %}
<script src="{% static 'sites/js/plugins/printThis.js' %}">

</script>
<script>
    $(document).ready(function(){
        $('#print').click(function(){
            $('#voucher').printThis();
        })
    })
</script>
{% endblock scripts %}