{% extends "base.html" %}

{% load static %}
{% load i18n %}
{% load my_filters %}

{% block styles %}
<link rel="stylesheet" href="{% static 'site/css/animate.css' %}">
{% endblock styles %}

{% block content %}

<div class="intro ">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h3>{% trans 'Tickets to culture and entertainment from your smartphone. No printing, no waiting.' %}</h3>
            </div>
          </div>
        </div>
      </div>
      
      <div class="container">
      
        <div class="row">
          <div class="col-12 text-center">
            <h4 class="text-uppercase font-weight-bold p-3 text-muted">{% trans 'our top tours' %}</h4>
            <hr>
          </div>
        </div>
      
        <div class="row">
      
          {% for tour in tours %}
          
          <div class="col-md-4 animated tour-box-container">
            <a href="{% url 'tours:single_tour' tour.slug %}" class="tour-box">
              <span class="h6 text-center bg-{{tour.tour.tag}}">{{tour.tour.tag}}</span>
              <div class="card" style="width: 18rem;">
                <img class="card-img-top" height="230" src="{{ tour.tour.image.url }}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{tour.title}}</h5>
                  <p class="card-text text-muted">{{tour.summary|truncatewords:10}}.</p>
                  <div class="row">
                    <div class="rating col text-left">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-half"></i>
                    </div>
                    <div class="price col text-right">
                      <span>
                        <sup>
                          {% if request.session.currency_short %} {{ request.session.currency_short }} {% else %} $ {% endif %}
                      </sup>
                        {{ tour.tour.price_adult|multiply:request.session.currency }}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>

          {% endfor %}
      
        </div>
      
      
      
        <div class="row">
          <div class="col-12 text-center">
            <h4 class="text-uppercase font-weight-bold p-3 text-muted">{% trans 'our top experiences' %}</h4>
            <hr>
          </div>
        </div>
      
        <div class="row">
      
          {% for tour in experiences %}
          
            <div class="col-md-4 animated tour-box-container">
              <a href="{% url 'tours:single_tour' tour.slug %}" class="tour-box">
                <span class="h6 text-center bg-{{tour.tour.tag}}">{{tour.tour.tag}}</span>
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" height="230" src="{{ tour.tour.image.url }}" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">{{tour.title}}</h5>
                    <p class="card-text text-muted">{{tour.summary|truncatewords:10}}.</p>
                    <div class="row">
                      <div class="rating col text-left">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half"></i>
                      </div>
                      <div class="price col text-right">
                        <sup>
                          {% if request.session.currency_short %} {{ request.session.currency_short }} {% else %} $ {% endif %}
                      </sup>
                        {% if request.session.currency %} {{ tour.tour.price_adult|multiply:request.session.currency }} {% else %} {{ tour.tour.price_adult
                        }} {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>

          {% endfor %}
      
        </div>
      
        <div class="row">
          <div class="col-12 text-center">
            <div class="form-group">
              <a href="{% url 'tours:tours_list' %}" class="btn btn-lg btn-primary bg-main">Show all <i class="fa fa-plus"></i></a>
            </div>
          </div>
        </div>
      
      </div>
      
      
      <div class="row" id="newsletter">
        <div class="col-12 text-center">
          <div class="newsteler">
            <h3 class="text-center p-3">Newsletter</h3>
            <p class="text-muted">Stay up to date with the latest tours and experiences.</p>
            <form action="#" class="col-md-4  offset-md-4 col-xs-12" @submit.prevent="submitForm" method="POST"> {% csrf_token %}
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Enter your email here." required v-model="email">
              </div>
              <div class="form-group">
                <input type="submit" class="btn btn-lg" value="Subscribe">
              </div>
            </form>
          </div>
        </div>
      </div>
      
      
      <div class="container">
        <h4 class="text-center p-3">A video from travel with friends presenting the beauty of morocco</h4>
        <div class="row p-3">
          <div class="col">
            <iframe width="100%" height="500vh" src="https://www.youtube-nocookie.com/embed/ZE81dWxNnMQ?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
        </div>
      </div>

{% endblock content %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="{% static 'site/js/main.js' %}"></script>
{% endblock scripts %}