{% extends "base.html" %}

{% load static %}
{% load i18n %}
{% load my_filters %}

{% block title %}{{ tour.title }}{% endblock %}


{% block styles %}
<link rel="stylesheet" href="{% static 'site/css/single.css' %}">
<link rel="stylesheet" href="{% static 'site/css/animate.css' %}">
<link rel="stylesheet" href="{% static 'site/css/plugins/lightbox.min.css' %}">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock styles %}

{% block content %}

<div class="intro-single m-3">
    <div class="container">
      <div class="d-flex justify-content-center">
          {% if tour.tour.image1 %}
            <div class="">
                <a href="{{ tour.tour.image1.url }}"  data-lightbox="roadtrip"><img width="400" height="230" src="{{ tour.tour.image1.url }}"  alt=""></a>
            </div>
          {% endif %}

        {% if tour.tour.image2 %}
        <div class="">
            <a href="{{ tour.tour.image2.url }}"  data-lightbox="roadtrip"><img width="400" height="230" src="{{ tour.tour.image2.url }}"  alt=""></a>
        </div>
        {% endif %}

        {% if tour.tour.image3 %}
        <div class="">
            <a href="{{ tour.tour.image3.url }}"  data-lightbox="roadtrip"><img width="400" height="230" src="{{ tour.tour.image3.url }}"  alt=""></a>
        </div>
        {% endif %}

      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
        <div class="card col-12">
        <div class="card-body">
            <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half"></i>
            <span>|</span>
            <span>({{reviews.count}}) comments</span>
            </div>
            <div class="info">
            <h2>{{tour.title}}</h2>
            <h5 class="text-muted">{{ tour.summary }}</h5>
            {% if tour.city %}
                <p><i class="fa fa-map " ></i> {{ tour.city }}</p>
            {% endif %}
            <p><i class="fa fa-tag "></i> {{ tour.tour.tag }}</p>
            </div>
        </div>
        </div>
    </div> <!-- end row -->
    
    <div class="d-flex row mt-3" id="root">
        <div class="card col-md-8 col-xs-12">
        <div class="card-body col-12">
            <div class="content row">
            <div class="heading col-3">
                <h5>{% trans 'Description' %}</h5>
            </div>
            <div class="text col-9">
                <p>
                    {{tour.description|safe}}
                </p>
            </div>
            </div>
            <hr>
            <div class="content row">
            <div class="heading col-3">
                <h5>{% trans 'Languages' %}</h5>
            </div>
            <div class="text col-9">
                <p>
                    {% for language in tour.tour.languages.all %}
                    <img src="{{ language.image.url }}" alt="{{ language.title }}" width="20"> {% endfor %}
                </p>
            </div>
            </div>
    
            <hr>
            <div class="content row">
            <div class="heading col-3">
                <h5>{% trans 'Opening days' %}</h5>
            </div>
            <div class="text col-9">
                    <table>
                            {% with tour.tour.availability|last as last %}
                                {% if last != '7' %}
                                    {% for time in tour.tour.availability %}
                                    <tr>
                                    {% if time == '0' %}
                                            <td>-{% trans 'Sunday' %}</td>
                                    {% endif %}
                                    {% if time == '1' %}
                                        <td>-{% trans 'Monday' %}</td>
                                    {% endif %}
                                    {% if time == '2' %}
                                        <td>-{% trans 'Tuesday' %}</td>
                                    {% endif %}
                                    {% if time == '3' %}
                                        <td>-{% trans 'Wednesday' %}</td>
                                    {% endif %}
                                    {% if time == '4' %}
                                        <td>-{% trans 'Thursday' %}</td>
                                    {% endif %}
                                    {% if time == '5' %}
                                        <td>-{% trans 'Friday' %}</td>
                                    {% endif %}
                                    {% if time == '6' %}
                                        <td>-{% trans 'Saturday' %}</td>
                                    {% endif %}
                                    </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>Daily</tr>
                                {% endif %}
                            {% endwith %}
                          </table>
                          {{tour.tour.from_time|time:"g:iA"|lower }} - {{tour.tour.to_time|time:"g:iA"|lower}}
            </div>
            </div>
    
            <hr>
            <div class="content row">
            <div class="heading col-3">
                <h5>{% trans 'Duration' %}</h5>
            </div>
            <div class="text col-9">
                {% if tour.tour.days != '0' %}
                    {{tour.tour.days}} {% trans 'day' %} (s)
                {% endif %}

                {% if tour.tour.hours != '0' %}
                    {{tour.tour.hours}} {% trans 'hour' %} (s)
                {% endif %}

                {% if tour.tour.minutes != '0' %}
                    {{tour.tour.minutes}} {% trans 'minute' %} (s)
                {% endif %}
            </div>
            </div>
    
            {% if  tour.tour.days_in_advance != '0' %}
                <hr>
                <div class="content row">
                    <div class="heading col-3">
                        <h5>{% trans 'Days in advance' %}</h5>
                    </div>
                    <div class="text col-9">
                        {{ tour.tour.days_in_advance }} {% trans 'day' %} (s)
                    </div>
                </div>
            {% endif %}

            <hr>
            <div class="content row">
                <div class="heading col-3">
                    <h5>{% trans 'Included' %}</h5>
                </div>
                <div class="text col-9">
                    {{ tour.included|safe }}
                </div>
            </div>
    
            <hr>
            <div class="content row">
                <div class="heading col-3">
                    <h5>{% trans 'Exluded' %}</h5>
                </div>
                <div class="text col-9">
                    {{ tour.excluded|safe }}
                </div>
            </div>
    
        </div>
        </div>
    
        <div class="card col-md-4 col-xs-12">
        <div class="card-body col-12">
            <div class="book_now">
                <div class="book_heading">
                    <h4 class="text-white text-center"><sup>
                            {% if request.session.currency_short %} {{ request.session.currency_short }} {% else %} $ {% endif %}
                          </sup>{% if request.session.currency %} {{ tour.tour.price_adult|multiply:request.session.currency }} {% else %} {{ tour.tour.price_adult
                        }} {% endif %}</h4>
                </div>

                <form action="{% url 'checkout:checkout-tours' tour.id %}" method="POST" class="p-3" @submit="submitForm"> {% csrf_token %}
                    <div class="form-group">
                        <input type="hidden" id="d" name="date" />
                        <div id="z" ></div>
                    </div>

                    {% for age in tour.tour.allowed_ages  %}
                    
                    <div class="row">
                        <div class="form-group col-4">
                            <p class="mt-3">{% trans age %}</p>
                        </div>
                        <div class="form-group col-8">
                            <small class="text-muted">
                                {% if  age == "seniors" %}
                                    <small class="text-muted">
                                        Seniors: {{tour.tour.age_senior}}
                                    </small>
                                {% endif %}
                                {% if  age == "adults" %}
                                    <small class="text-muted">
                                        Adults: {{tour.tour.age_adult}}
                                    </small>
                                {% endif %}
                                {% if  age == "children" %}
                                    <small class="text-muted">
                                        Children: {{tour.tour.age_children}}
                                    </small>
                                {% endif %}
                                {% if  age == "enfant" %}
                                    <small class="text-muted">
                                        Infants: {{tour.tour.age_infant}}
                                    </small>
                                {% endif %}
                            </small>
                            <input type="number" class="form-control" name="{{age}}" v-model="{{age}}">
                        </div>
                    </div>

                    {% endfor %}
                    
                    <div class="form-group">
                        <input type="submit" class="btn btn-lg btn-block bg-main text-white" value="Book now">
                    </div>
                </form>

                <div class="form-group">
                    <table class="table">
                        <thead>
                        {% for age in tour.tour.allowed_ages  %}
                            <tr>
                                <th class="text-muted">{{age}}</th>
                                <td v-text="{{age}}"></td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <th>Total cost</th>
                            <td class="text-danger"><b v-text="price">0</b>{% if request.session.currency_short %} {{ request.session.currency_short }} {% else %} $ {% endif %}</td>
                        </tr>
                        </thead>
                    </table>
                </div>

            </div>
        </div>
        </div>
    </div>
    
    <!--  Reviews -->
    <div class="card col-md-8 mt-3">
        <h4 class="mt-2">Reviews</h4>
        <div class="card-body reviews">
    
        {% if reviews %}
        {% for review in reviews  %}
        
        <div class="review">
            <hr>
            <p>
            <b>{{ review.voucher.bill }}</b>
            <b class="pull-right">
                {% for i  in "x"|rjust:review.rate %}
                <i class="fa fa-star"></i>
                {% endfor %}
            </b>
            </p>
            <p class="text-muted">{{ review.timespan }}</p>
            <p>{{ review.text }}</p>
        </div>

        {% endfor %}
        <div class="text-center">
            <a href="{% url 'reviews:add_review' tour.tour.id tour.slug %}" class="btn btn-lg bg-main text-white">View all reviews</a>
        </div>
        {% else %}
            {% trans 'No reviews yet.' %}
        {% endif %}
    
        </div>
    </div>
    
    <!--  post review -->
    <div class="card col-md-8 mt-3">
        <h4 class="mt-2">Post a review</h4>
        <div class="card-body">
        <form method="POST" action="{% url 'reviews:add_review' tour.tour.id tour.slug %}"> {% csrf_token %}
            <div class="form-group row">
                <select class="form-control col-md-4 col-xs-12" name="rate" id="id_rate">
                    <option value="5" class="text-primary">&#xf005;&#xf005;&#xf005;&#xf005;&#xf005;</option>
                    <option value="4" class="text-primary">&#xf005;&#xf005;&#xf005;&#xf005;</option>
                    <option value="3" class="text-primary">&#xf005;&#xf005;&#xf005;</option>
                    <option value="2" class="text-primary">&#xf005;&#xf005;</option>
                    <option value="1" class="text-primary">&#xf005;</option>
                </select>
                <span class="mt-2 ml-3">Voucher number </span>
                <div class="col-md-5 col-xs-12">{{ review_form.voucher }}</div>
            </div>
            <div class="form-group">
                {% trans 'Your review:' %}
                {{review_form.text}}
            </div>
            <div class="form-group text-center">
                <input type="hidden" value="{{ tour.tour.id }}" name="tour">
                <button class="btn btn-lg bg-main text-white" ><h4>{% trans 'Post review' %}</h4></button>
            </div>
        </form>
        </div>
    </div>
    </div> <!-- end container -->
{% endblock %}

{% block scripts %}
<script src="{% static 'site/js/plugins/lightbox-plus-jquery.min.js' %}"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script src="https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


<script>
    var array = []
</script>
    {% for av in availability %}
        <script>
            array.push("{{av}}")
        </script>
    {% endfor %}
<script>
$("#z").val(new Date())

    $(function() {
    $("#z").datepicker({
        inline: true,
        altField: '#d',
        beforeShowDay: function(date) {
            var day = date.getDay();
            return [(
                ($.inArray('0', array) == -1? day != 0 : day != 20) &&
                ($.inArray('1', array) == -1? day != 1 : day != 20) &&
                ($.inArray('2', array) == -1? day != 2 : day != 20) &&
                ($.inArray('3', array) == -1? day != 3 : day != 20) &&
                ($.inArray('4', array) == -1? day != 4 : day != 20) &&
                ($.inArray('5', array) == -1? day != 5 : day != 20) &&
                ($.inArray('6', array) == -1? day != 6 : day != 20))] ;
        },
        changeYear: false,
        changeMonth: true,
        dateFormat: 'yy-mm-dd',
        minDate: new Date()
    });

    $('#d').change(function(){
        $('#z').datepicker('setDate', $(this).val());
        $('#z').val($(this).val())
    });

    });
</script>

<script>
    new Vue({
    el: '#root',
    data: {
        adults: 0,
        children: 0,
        seniors: 0,
        enfant: 0,
        pAd: "{{tour.tour.price_adult|multiply:request.session.currency}}",
        pCh: "{{tour.tour.price_children|multiply:request.session.currency}}",
        pSe: "{{tour.tour.price_senior|multiply:request.session.currency}}",
        pIn: "{{tour.tour.price_infant|multiply:request.session.currency}}",
    },
    mounted() {
        err = "{{error}}"
        if (err == -1){
            swal("This product should be reserved {{tour.tour.days_in_advance}} days before!");
        }
    },
    computed: {
        price(){
        if(this.adults < 0 )
            this.adults = 0
        if(this.children < 0 )
            this.children = 0
        if(this.seniors < 0 )
            this.seniors = 0
        if(this.enfant < 0 )
            this.enfant = 0
        return (this.adults * this.pAd) + (this.children * this.pCh) + (this.seniors * this.pSe) + (this.enfant * this.pIn)
        }
    },
    methods: {
        submitForm(e){
            if(this.adults ==0 && this.seniors ==0 && this.enfant == 0 && this.children == 0){
                e.preventDefault()
                swal("Please provide number of people!");
            }
        }
    }
    })
</script>
{% endblock scripts %}