{% extends "base.html" %}

{% load static %}
{% load i18n %}
{% load my_filters %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'site/css/all_tours.css' %}">
{% endblock styles %}

{% block content %}
<div class="container">
    <div class="row mt-3">
      <div class="card col-12">
        <div class="card-body">
          <h6>Filter by</h6>
          <form class="row" method="get">
            <div class="form-group col-md-3">
              <span>City:</span>
              <select class="form-control" name="city">
                <option value="all">--SELECT A CITY--</option>
                <option value="all">All</option>
                <option value="marrakech">Marrakech</option>
              </select>
            </div>

            <div class="form-group col-md-3">
              <span>Type:</span>
              <select class="form-control" name="type">
                <option value="all">--SELECT A TYPE--</option>
                <option value="all">All</option>
                <option value="tour">Tour</option>
                <option value="experience">Experience</option>
              </select>
            </div>

            <div class="form-group col-md-6">
              <br>
              <button type="submit" type="submit" class="btn btn-block bg-main text-white">Filter</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="card col-12">
        <div class="card-body">
          <div class="col-md-10 offset-md-1 col-xs-12">

            {% for tour in tours %}
            
            <a href="{% url 'tours:single_tour' tour.slug %}" class="tour m-3">
              <div>
                <img height="200px" class="rounded float-left mr-3"
                src="{{ tour.tour.image.url }}" alt="">
                <span class="h6 text-center text-white p-1 bg-{{tour.tour.tag}} tag">{{tour.tour.tag}}</span>
                <h4>{{ tour.title }}</h4>
                <p class="text-muted">{{ tour.summary }}</p>
                <p><b> <i class="fa fa-compass"></i> {{ tour.city }}</b></p>
                <p>
                  <b class="pull-right h4">
                    <sup>
                      {% if request.session.currency_short %} {{ request.session.currency_short }} {% else %} $ {% endif %}
                    </sup>{% if request.session.currency %} {{ tour.tour.price_adult|multiply:request.session.currency }} {% else %} {{ tour.tour.price_adult
                    }} {% endif %}
                  </b>
                </p>
              </div>
            </a>
            <hr >

            {% endfor %}

          
          </div>
        </div>

        <nav aria-label="Page navigation text-center row">
          <ul class="pagination m-3  text-center">
            {% if tours.has_previous %}
              <li class="page-item">
                  <a class="page-link" href="?page={{ tours.previous_page_number }}">Prev</a>
              </li>
            {% endif %}
            {% for page in tours.paginator.page_range %}
                <li {% if page == tours.number %} class="active page-item" {% endif %}>
                    <a class="page-link" href="?page={{ page }}">{{page}}</a>
                </li>
            {% endfor %}
            {% if tours.has_next %}
              <li class="page-item">
                  <a class="page-link" href="?page={{ tours.next_page_number }}">Next</a>
              </li>
            {% endif %}
          </ul>
        </nav>
      <!-- end pagination-->



      </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}

{% endblock scripts %}