{% extends "myadmin/base.html" %}

{% block content %}

<div class="row" id="app">
  <div class="col-md-6 offset-md-3">
    <div class="card m-b-30">
      <div class="card-body">
        
        <form method="POST" enctype="multipart/form-data"> {% csrf_token %}
            {{ form }}
            <button class="btn bg-success mt-3 btn-lg text-white" type="submit">Add or Edit</button>
        </form>
        
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block script %}
    <script>
        $(document).ready(function(){
            $('#id_title').addClass('form-control');
            $('#id_image').addClass('form-control');
        })
    </script>
{% endblock script %}  