{% extends "myadmin/base.html" %}

{% block content %}

<div class="row" id="app">
  <div class="col-md-6 offset-md-3">
    <div class="card m-b-30">
      <div class="card-body">
        <a href="{% url 'myadmin:add-language' %}" class="btn btn-success m-2 pull-right">Add language <i class="fa fa-plus"></i></a>
        <table class="table">
            <thead>
                <th>Image</th>
                <th>language</th>
                <th>Actions</th>
            </thead>
            <tbody>
                {% for language in languages %}
                <tr>
                    <td><img src="{{ language.image.url }}" alt="{{ language.title }}" height="40"></td>
                    <td>{{ language.title }}</td>
                    <td>
                        <a href="{% url 'myadmin:update-language' language.id %}" class="btn btn-info" title="Edit"><i class="fa fa-pencil"></i></a>
                        <a href="{% url 'myadmin:delete-language' language.id %}"  class="btn btn-danger" title="Delete"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
