{% extends "myadmin/base.html" %}

{% block content %}

<div class="row">
    <div class="col-lg-6">
        <div class="card m-b-30">
            <div class="card-body">
                <h4 class="mt-0 header-title">Last Orders</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>First name</th>
                            <th>email</th>
                            <th>telephone</th>
                            <th>country</th>
                            <th>amount</th>
                        </tr>
                        {% for order in orders %}
                        <tr>
                            <td>{{ order.first_name }}</td>
                            <td>{{ order.email }}</td>
                            <td>{{ order.telephone }}</td>
                            <td>{{ order.country }}</td>
                            <td>{{ order.amount }}</td>
                        </tr>
                        {% endfor %}
                    </thead>
                </table>
            </div>
        </div>
    </div> <!-- end col -->
    <div class="col-lg-6">
        <div class="card m-b-30">
            <div class="card-body text-center">
                <a class="btn btn-info btn-lg btn-block" href="{% url 'myadmin:all-orders' %}">View all orders</a>
                <a class="btn btn-info btn-lg btn-block" href="{% url 'myadmin:check-voucher' %}">Check voucher number</a>
                <a class="btn btn-info btn-lg btn-block" href="{% url 'myadmin:myadmin-add-tour' %}">Add new tour</a>
                <a class="btn btn-info btn-lg btn-block" href="{% url 'myadmin:myadmin-tours-list' %}">Add new tour datails</a>
                <hr style="border:2px solid grey !important">

                <div class="col-md-6 col-xl-6">
                    <div class="mini-stat clearfix bg-info">
                        <span class="mini-stat-icon bg-light"><i class="mdi mdi-currency-eur text-info"></i></span>
                        <div class="mini-stat-info text-right text-light">
                            <span class="counter text-white">{{ orders_today.count }}</span>
                            Orders today
                        </div>
                        <p class="mb-0 m-t-20 text-light">Total income: €{{today_income.amount__sum}} <span class="pull-right"></p>
                    </div>
                </div>
                <div class="col-md-6 col-xl-6">
                    <div class="mini-stat clearfix bg-success">
                        <span class="mini-stat-icon bg-light"><i class="mdi mdi-currency-eur text-success"></i></span>
                        <div class="mini-stat-info text-right text-white">
                            <span class="counter text-white">{{total_orders.count}}</span>
                            Total Orders
                        </div>
                        <p class="mb-0 m-t-20 text-light">Total income: €{{total_income.amount__sum}} <span class="pull-right"></p>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>


{% endblock content %}
