{% extends "admin/base_site.html" %}
{% block title %}Manage Orders{% endblock %}
{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <div class="container">
        <table class="table">
            <tr>
                <th>Full name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Country</th>
                <th>Zip code</th>
                <th>Amount</th>
                <th>Status</th>
                <th>Description</th>
            </tr>
            {% for order in orders %}
            <tr>
                <td>{{ order.first_name }} {{ order.last_name }}</td>
                <td>{{ order.email }}</td>
                <td>{{ order.telephone }}</td>
                <td>{{ order.country }}</td>
                <td>{{ order.zip_code }}</td>
                <td>{{ order.amount|slice:":2" }}.00$</td>
                <td>{{ order.status }}</td>
                <td>{{ order.description|safe }}</td>

            </tr>
            {% endfor %}
        </table>
    </div>

{% endblock content %}