{% extends "myadmin/base.html" %}

{% block content %}
<style media="screen">
ul {
  list-style: none
}
</style>

<div class="row" id="app">
    <div class="col-md-6 offset-md-3">
        <div class="card m-b-30">
            <div class="card-body">
              {% if form.errors %}
                <div class="alert alert-danger">
                  {{form.errors}}
                </div>
              {% endif %}
                <form method="post" {% if update %} action="{% url 'myadmin:myadmin-update-tour' tour.id %}" {% endif %} enctype="multipart/form-data" >{% csrf_token %}
                  <div class="form-group">
                    title
                    {{form.title}}
                  </div>
                  <!-- <div class="form-group row">
                    <div class="col">
                      From date
                      {{form.from_date}}
                    </div>
                    <div class="col">
                      to date
                      {{form.to_date}}
                    </div>
                  </div> -->
                  <div class="form-group row">
                    <div class="col">
                      From time
                      {{form.from_time}}
                    </div>
                    <div class="col">
                      to time
                      {{form.to_time}}
                    </div>
                  </div>
                  <hr>
                  <div class="form-group row">
                    <div class="col">
                      availability <hr>
                      {{form.availability}}
                    </div>
                    <div class="col">
                      allowed ages <hr>
                      {{form.allowed_ages}}
                    </div>
                  </div>
                  <h5>Prices</h5>
                  <hr>
                  <div class="form-group row">
                    <div class="col">
                      Age senior
                      {{form.age_senior}}
                    </div>
                    <div class="col">
                      Price senior
                      {{form.price_senior}}
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col">
                      Age adult
                      {{form.age_adult}}
                    </div>
                    <div class="col">
                      Price adult
                      {{form.price_adult}}
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col">
                      Age children
                      {{form.age_children}}
                    </div>
                    <div class="col">
                      Price children
                      {{form.price_children}}
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col">
                      Age infant
                      {{form.age_infant}}
                    </div>
                    <div class="col">
                      Price infant
                      {{form.price_infant}}
                    </div>
                  </div>
                  <hr>
                  <div class="form-group row">
                    <div class="col">
                      Hours
                      {{form.hours}}
                    </div>
                    <div class="col">
                      minutes
                      {{form.minutes}}
                    </div>
                    <div class="col">
                      days
                      {{form.days}}
                    </div>
                    <div class="col">
                      days in advance
                      {{form.days_in_advance}}
                    </div>
                  </div>
                  <div class="form-group">
                    Languages
                    {{form.languages}}
                  </div>
                  <hr>
                  <div class="form-group row">
                    <div class="col">
                      Category
                      {{form.category}}
                    </div>
                    <div class="col">
                      Tag
                      {{form.tag}}
                    </div>
                  </div>
                  <hr>
                  <h4>Images</h4>
                  <div class="form-group row">
                    <div class="col">
                      Main Image
                      {{form.image}}
                    </div>
                    <div class="col">
                      Image 1
                      {{form.image1}}
                    </div>
                    <div class="col">
                      Image 2
                      {{form.image2}}
                    </div>
                    <div class="col">
                      Image 3
                      {{form.image3}}
                    </div>
                    <div class="col">
                      wallpaper
                      {{form.wallpaper}}
                    </div>
                  </div>
                  <hr>
                  <div class="form-group">
                    <div class="col">
                      Active?
                      {{form.active}}
                    </div>
                    <div class="col">
                      feautured?
                      {{form.feautured}}
                    </div>
                  </div>
                    {% if update %}
                      <button class="btn btn-info" name="action" value="next">Update</button>
                    {% else %}
                      <button class="btn btn-success" name="action" value="save">Save and exit</button>
                      <button class="btn btn-info" name="action" value="next">Next - Add details</button>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

{% block script %}
<script>
    $(document).ready(function(){
      $('#id_languages').addClass('form-control')
      $('#id_category').addClass('form-control')
      $('#id_tag').addClass('form-control')
      $('#id_image').addClass('form-control')
      $('#id_image1').addClass('form-control')
      $('#id_image2').addClass('form-control')
      $('#id_image3').addClass('form-control')
      $('#id_wallpaper').addClass('form-control')

      $('#id_availability_7').click(function(){
        $('#id_availability input:checkbox').not(this).prop('checked', this.checked);
      });
    })

</script>
{% endblock script %}
{% endblock content%}
