{% extends "myadmin/base.html" %}

{% block content %}
{% if success %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Success!</strong> Detail added succefuly.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}
{% if updated  == "1" %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Success!</strong> Detail updated succefuly.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}
<div class="row" id="app">
  <div class="col-md-6 offset-md-3" >
      <div class="card m-b-30">
        <div class="card-body">
          {% if form.errors %}
            <div class="alert alert-danger">
              {{form.errors}}
            </div>
          {% endif %}
          <h3>Details for: {{tour}}</h3>
            <form method="post" {% if updated %}action="{% url 'myadmin:myadmin-detail-update' detail.id %}" {% else %}action="{% url 'myadmin:myadmin-add-detail' %}"{% endif %} >{% csrf_token %}
              <input type="hidden" name="tour" value="{{tour.id}}">
              <div class="form-group">
                Language
                {{form.Language}}
              </div>
              <div class="form-group">
                Title
                {{form.title}}
              </div>
              <div class="form-group">
                  City
                  {{form.city}}
              </div>
              <div class="form-group">
                description
                {{form.description}}
              </div>
              <div class="form-group">
                summary
                {{form.summary}}
              </div>
              <div class="form-group">
                included
                {{form.included}}
              </div>
              <div class="form-group">
                excluded
                {{form.excluded}}
              </div>
              <div class="form-group">
                {% if updated %}
                  <button type="submit" class="btn btn-success btn-block">Update</button>
                {% else %}
                  <button type="submit" class="btn btn-success btn-block">Save</button>
                {% endif %}
              </div>
            </form>
      </div>
    </div>
  </div>
</div>
{% block script %}
  <script>
    $(document).ready(function(){
        $('#id_Language').addClass("form-control")
        $('#id_title').addClass("form-control")
        $('#id_city').addClass("form-control")
    })
  </script>
{% endblock %}
{% endblock %}
