{% extends "myadmin/base.html" %}

{% block content %}
{% if deleted %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Success!</strong> Object deleted successfully.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}
{% if added %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Success!</strong> Tour Added successfully.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}
<div class="row" id="app">
  <div class="col-md-6 offset-md-3">
    <div class="card m-b-30">
      <div class="card-body">
        <table class="table">
          <thead>
            <th>Image</th>
            <th>Title</th>
            <th>Type</th>
            <th>Actions</th>
          </thead>
          <tbody>
            {% for tour in tours %}
              <tr>
                <td> <img src="{{tour.image.url}}" height="100"> </td>
                <td> {{ tour.title }} </td>
                <td> {{ tour.category }} </td>
                <td>

                  <div class="form-group">
                    <a href="{% url 'myadmin:myadmin-update-tour' tour.id %}" class="btn btn-info btn-sm btn-block">Update Tour</a>
                  </div>

                  <form action="{% url 'myadmin:myadmin-detail-form' tour.id %}" method="post"> {% csrf_token %}
                    <div class="form-group">
                      <input type="hidden" name="tour" value="{{ tour.id }}">
                      <button type="submit" class="btn btn-primary btn-sm btn-block">Add Detail</button>
                    </div>
                  </form>

                  <div class="form-group">
                    <a href="{% url 'myadmin:myadmin-delete-tour' tour.id %}" class="btn btn-danger btn-sm btn-block">Delete Tour</a>
                  </div>

                  <div class="form-group">
                    <a href="{% url 'myadmin:myadmin-tour-details' tour.id %}" class="btn btn-secondary btn-sm btn-block">View Details</a>
                  </div>

                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
