{% extends "myadmin/base.html" %}

{% block content %}

<div class="row" id="app">
  <div class="col-md-6 offset-md-3">
    <div class="card m-b-30">
      <div class="card-body">
        <div class="form-group">
          <h4 class="text-info">Are you sure you want to delete this tour? you can make it unactive.</h4>
          <p class="text-muted">You can't undo this action.</p>
        </div>
        <form method="post"> {% csrf_token %}
            <div class="form-group">
              <button type="submit" class="btn btn-danger btn-block">Yes</button>
            </div>
        </form>
        <div class="form-group">
          <a href="{% url 'myadmin:myadmin-tours-list' %}" class="btn btn-info btn-block">No</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
