{% extends "myadmin/base.html" %}

{% block content %}

<div class="row" id="app">
  <div class="col-md-6 offset-md-3">
    <div class="card m-b-30">
      <div class="card-body">
        <form method="post"> {% csrf_token %}
          <div class="form-group">
            {{form}}
          </div>
          <div class="form-group">
              <button type="submit" class="btn btn-block btn-success">Check</button>
          </div>
        </form>
        {% if exists == True %}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong> <p>Voucher exists in the system's database.</p> </strong>
            <p>Date order: {{ voucher.bill.date_order }}</p>
            <p>Date voucher out: {{ voucher.datestamp }}</p>
            <p>Descreption: <br> {{ voucher.bill.description|safe }}</p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% elif exists == False %}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Voucher is not valid.</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock content %}
