<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>{% block title %}{% endblock %}</title>
    <meta content="Admin Dashboard" name="description" />
    <meta content="Themesdesign" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App Icons -->
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">

    <!--Morris Chart CSS -->
    <link rel="stylesheet" href="{% static 'assets/plugins/morris/morris.css' %}">

    <!-- App css -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/icons.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/main.css' %}">
</head>
<body>
    <!-- Loader -->
    <div id="preloader"><div id="status"><div class="spinner"></div></div></div>

    <!-- Navigation Bar-->
    <header id="topnav">
        <!-- MENU Start -->
        <div class="navbar-custom">
            <div class="container-fluid">
                <div id="navigation">
                    <!-- Navigation Menu-->
                    <ul class="navigation-menu">

                        <li class="has-submenu">
                            <a href="{% url 'myadmin:myadmin-home' %}"><i class="ti-home"></i>Home</a>
                        </li>

                        <li class="has-submenu">
                            <a href="#"><i class="ti-crown"></i>Tours</a>
                            <ul class="submenu">
                                <li><a href="{% url 'myadmin:myadmin-add-tour' %}">Add tour</a></li>
                                <li><a href="{% url 'myadmin:myadmin-tours-list' %}">All tours</a></li>
                            </ul>
                            <li><a href="{% url 'myadmin:all-orders' %}">All orders</a></li>
                            <li><a href="{% url 'myadmin:languages' %}">Languages</a></li>
                        </li>

                    </ul>
                    <!-- End navigation menu -->
                </div> <!-- end #navigation -->
            </div> <!-- end container -->
        </div> <!-- end navbar-custom -->
    </header>
    <!-- End Navigation Bar-->

    <div class="wrapper">
        <div class="container-fluid">
            {% block content %} {% endblock %}
        </div>
    </div>
    <!-- end wrapper -->


    <!-- Footer -->
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    © 2018 MCT - Crafted with <i class="mdi mdi-heart text-danger"></i> by I.A.
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->


    {% include 'myadmin/snippets/scripts.html' %}
    {% block script %} {% endblock %}
</body>

</html>
