{% extends "base.html" %}

{% load static %}

{% block content %}
    <div class="about-heading justify-content-center d-flex align-items-center flex-column">
        <div class="overlay"></div>
        <h2 class="p-3 text-white ">
            MCT makes culture more accessible
        </h2>
        <h6 class="text-white">
            MCT is an innovative ticketing platform that is revolutionizing the way visitors discover, buy and use tickets for museums, shows and attractions.
        </h6>
    </div>
    <div class="container text-center mt-3">
        <h6 class="text-muted">About MCT</h6>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis tenetur facere illum fuga voluptate odit dolorem a aperiam natus eos rerum quas porro, voluptas iure et debitis saepe reprehenderit nisi?</p>
        
    </div>
{% endblock content %}