{% extends "base.html" %}
{% load i18n %}


{% block content %}
    <div class="row">

        {% if success == 1 %}
        <div class="alert alert-success alert-dismissible fade show m-3 m-auto" role="alert">
          <strong>{% trans 'success' %}!</strong> {% trans "Thank you for contacting us, we'll responde as soon as possible" %}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% elif success == 0 %}
        <div class="alert alert-info alert-dismissible fade show m-3 m-auto" role="alert">
          <strong>{% trans 'failed' %}!</strong> {% trans "There was an error, please try again later." %}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endif %}

        <div class="col-xs-12 col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-md-3">
            <h4 class="m-3 text-center text-secondary">{% trans 'Contact us' %}</h4>
            <form  method="post" class="m-3">
                {% csrf_token %}
                <div class="form-group">
                    <span for="email"><b class="text-secondary">{% trans 'Email' %}</b></span>
                    <input type="email" class="form-control" id="email" name="email"/>
                </div>
                <div class="form-group">
                    <span for="subject"><b class="text-secondary">{% trans 'Subject' %}</b></span>
                    <input type="text" class="form-control" id="subject" name="subject"/>
                </div>
                <div class="form-group">
                    <span for="message"><b class="text-secondary">{% trans 'Message' %}</b></span>
                    <textarea class="form-control" id="message" name="message" rows="7"></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn bg-main text-white d-block m-auto">
                </div>
            </form>
        </div>
    </div>
{% endblock content %}