{% extends "base.html" %}


{% block top-image %}
<section class="parallax-window" data-parallax="scroll" style="background-image: url('https://images.unsplash.com/photo-1491227289289-742c2e7289a7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=161746db5a43c7f6d2e3ae47919b2b29&auto=format&fit=crop&w=1350&q=80')">
    <div class="parallax-content-2">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-8">
                    <h1>{% if lang == 'en' %}
                        Terms and condition
                    {% elif lang == 'sp' %}
                        Términos y Condiciones
                    {% endif %}</h1>
                </div>
            </div>
        </div>
    </div>
</section>
    <h1 class="text-center">
        {% if lang == 'en' %}
        Terms and condition
        {% elif lang == 'sp' %}
        Términos y Condiciones
        {% endif %}
    </h1>
    <hr>
{% endblock top-image %}

{% block content %}
    <div class="container">
        {{about.text|safe}}
    </div>
{% endblock content %}