{% extends "myadmin/base.html" %}

{% block content %}

<div class="row" id="app">
  <div class="col-md-6 offset-md-3">
    <div class="card m-b-30">
      <div class="card-body">
        <h4>Tour Details for: <b class="text-muted">{{tour}}</b></h4>
        <table class="table">
          <thead>
            <th>Title</th>
            <th>Language</th>
            <th>Tour title (Your title)</th>
            <th>Actions</th>
          </thead>
          <tbody>
            {% for detail in details %}
              <tr>
                <td>{{ detail.title }}</td>
                <td>{{ detail.Language }}</td>
                <td>{{ detail.tour }}</td>
                <td>
                  <a href="{% url 'myadmin:myadmin-detail-update' detail.id %}" class="btn btn-info btn-sm btn-block">Update</a>
                  <a href="{% url 'myadmin:myadmin-detail-delete' detail.id %}" class="btn btn-danger btn-sm btn-block">Delete</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
